BasedOnStyle: LLVM
Standard: c++17
TabWidth: 8
IndentWidth: 8
UseTab: Always
AllowShortIfStatementsOnASingleLine: false
SpacesInCStyleCastParentheses: false
SpacesInAngles: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
PointerAlignment: Left
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 250
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  AfterCaseLabel: false
  SplitEmptyFunction: false
  AfterClass: true
